// Define variables
$primary-color: #223a59;
$second-color: #031903;
$third-color: #7588a5;
$four-color: #3684db;

$background-gray: #dbdbdb;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #aaaaaa;

// font
