@use '../../styles/variables.scss' as vars;

.home-page {
    padding: 0 120px;

    .type-product {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        height: 44px;
    }
}
.container {
    background-color: vars.$background-gray;
    padding: 0 120px;
}
