@use '../../styles/variables.scss' as vars;

.home-page {
    padding: 0 120px;

    .type-product {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        height: 44px;
    }
}
.container {
    background-color: rgb(248, 205, 239);
    padding: 0 120px;
    height: 1000px;

    .card {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
